
.features {

    &__grid {

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        border:1px solid blue;
        padding: 1rem;

        @include breakpoint-up(medium){
            flex: 0 0 50%
        }

        @include breakpoint-up(large){
            flex: 1;
        }
    }

    &__icon {
        
    }

    &__title {
        
    }

    &__description {
        
    }
}