@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.contains-fade {
  visibility: hidden;
}

.fade-in {
  -webkit-animation: fade-in 250ms ease-in-out forwards;
          animation: fade-in 250ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 250ms ease-in-out forwards;
          animation: fade-out 250ms ease-in-out forwards;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  color: #D7D6D6;
  font-weight: 300;
}

body.noScroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: bold;
  line-height: 1.5em;
  color: #2D3332;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 87.5em) {
  h1 {
    font-size: 5.4rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

@media (min-width: 87.5em) {
  .container {
    max-width: 140rem;
  }
}

.container--pall {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.container--py {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.container--px {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.container--pt {
  padding-top: 3.6rem;
}

.container--pr {
  padding-right: 2.4rem;
}

.container--pb {
  padding-bottom: 3.6rem;
}

.container--pl {
  padding-left: 2.4rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  display: inline-block;
  padding: 1rem 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#EDB541), to(#FFCA5C));
  background: linear-gradient(90deg, #EDB541 0%, #FFCA5C 100%);
  border: 1px solid #FAFAFA;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: #FFF;
  font-weight: bold;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button.hero__cta {
  padding: 1.5rem 3rem;
}

button:hover {
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu {
  position: absolute;
  margin-top: 1.5rem;
  width: calc(100% - 5rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FFF;
  padding: 2.5rem;
  border-radius: 1rem;
}

.header__menu a {
  display: block;
  text-align: center;
  color: #2D3332;
  font-size: 1.4rem;
  padding: 1rem;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE7B8), to(transparent));
  background-image: linear-gradient(#FFE7B8, transparent);
}

.header nav {
  position: relative;
  background-color: #FFF;
  padding-top: 2.4rem;
  padding-bottom: 1.5rem;
}

.header__logo img {
  width: 10rem;
  height: 5rem;
}

.header__toggle > span {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #EEB545;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 0.4rem 0.15rem;
          transform-origin: 0.4rem 0.15rem;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 0.4rem;
}

.header__links a {
  position: relative;
  font-size: 1.4rem;
  color: #2D3332;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 3rem;
}

.header__links a::before {
  content: " ";
  display: block;
  position: absolute;
  height: 0.3rem;
  left: 0;
  right: 0;
  bottom: -3rem;
  background: #EEB545;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.header__links a:hover {
  color: #EEB545;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFF0F3));
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF0F3 100%);
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 8rem;
  margin-top: -1rem;
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 57.5rem;
  }
}

@media (min-width: 87.5em) {
  .hero__image {
    height: 91.4vh;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -5rem;
  background-image: url("/img/mainimg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 64em) {
  .hero__image::after {
    min-height: 40rem;
    background-size: 55%;
    margin-left: 5rem;
  }
}

@media (min-width: 87.5em) {
  .hero__image::after {
    background-size: 60%;
    margin-left: 5rem;
  }
}

.hero__content {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.5rem;
    text-align: start;
  }
}

@media (min-width: 87.5em) {
  .hero__content {
    margin-left: 0;
  }
}

.hero__content h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5em;
  color: #2D3332;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .hero__content h1 {
    font-size: 4rem;
  }
}

@media (min-width: 87.5em) {
  .hero__content h1 {
    font-size: 5.4rem;
  }
}

.hero__content p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: regular;
  margin-bottom: 3.5rem;
  color: #2D3332;
}

@media (min-width: 87.5em) {
  .hero__content p {
    font-size: 1.8rem;
  }
}

.hero__content--text-one {
  font-style: italic;
}

.hero__content--text-two {
  font-style: italic;
  color: #EEB545;
}

@media (min-width: 40em) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  border: 1px solid blue;
  padding: 1rem;
}

@media (min-width: 40em) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */