html {
    font-size:  62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    padding: 2rem;

    // this stops from scrolling 
    &.noScroll {
    overflow: hidden;
    }
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;  
}


// Visibility 

.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}