
// Colors I am going random with the naming

$blueishGrey:#424746;
$lighterGrey: #bbb8b8;

$transfer:linear-gradient(90deg, #EDB541 0%, #FFDC94 100%);
$requestLoan: linear-gradient(90deg, #4B89AC 0%, #ACE6F6 100%);
$logout: linear-gradient(90deg, #BF5B54 0%, #FE5F55 100%);

$deposit:linear-gradient(90deg, #7EAFCB 0%, #82CDE1 100%);
$withdrawl:linear-gradient(90deg, #E8C06D 0%, #F2C25D 100%);

// font sizes 

$font-small: 1.4rem;
$font-medium: 1.8rem;

$font-large: 3rem;
$font-xl: 4rem;